Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
Flask-Caching
Flask-JWT-Extended
python-dotenv
qrcode
Pillow
email-validator
WTForms
SQLAlchemy
Werkzeug
mysqlclient  # Replace psycopg2-binary
PyJWT
alembic
Jinja2
MarkupSafe
itsdangerous
click
blinker
